.cards {
	background: url("@img/hands.png") no-repeat 28% bottom / 730px 350px;
	padding-bottom: 170px;
  &::after,
  &::before {
    @include pseudo;
    @include wh(100%);
    position: absolute;

    top: 0;
    background-color: #fff;
  }
  &::after {
    left: 99%;
  }
  &::before {
    right: 99%;
  }
  &__title {
    max-width: 600px;
    margin: 0 auto 70px;
  }
  &__item {
    &--rotate {
      transform: rotate(-15deg);
      &>*{
        transform: rotate(15deg);
      }
    }

  }
  &__box {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 84px;
  }
}
