.cards {
  background: url(../img/hands.png) no-repeat 42% bottom/38% auto;
    padding-bottom: 173px;

  &__title {
    max-width: 585px;
    margin: 0 auto 70px;
  }
  &__item {
    &--active {
      transform: rotate(-15deg);
    }
  }
  &__box {
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 84px;
  }
  &__item{
    &::before{
      @include pseudo;
      background: url("@img/icons/check-double.svg") no-repeat center / cover;
      @include wh(24px);
      position: absolute;
      left: 0;
      top: 0;
      

    }
  }
}
