.community{
	&::before{
		@include pseudo;
		background: url("@img/chain2.png") no-repeat center / cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 38%;
	}
	
	padding-block: 35px;
	&__text{
		max-width: 350px;
	}
	&__box-bg{
		position: absolute;
		z-index: 1;
		
		
		left: 25%;
		top: -3%;
	
	}
}