.contacts{
	&__btn{
		&::before{
			@include pseudo;
			background: url("@img/icons/arrow-right.svg") no-repeat center / cover;
			position: absolute;
			right: 0;
			top: 0;
			@include wh(24px);
		}
	}
}