.gallery {
  padding-top: 330px;
  padding-bottom: 148px;
  &::after,
  &::before {
    @include pseudo;
    background: url(../img/cracks.png) no-repeat center/100% auto;
    @include wh(450px, 676px);
    transform: rotate(90deg);
    position: absolute;

  }
  &::after {
    right: -8%;
    top: -2%;
  }
  &::before {
    bottom: -23%;
    left: -5%;
  }
  &__text {
    background: url("@img/icons/chat.svg") no-repeat center / 100% auto;
    bottom: 3%;
    right: 10%;
    max-width: 244px;
    height: 70px;
  }
  &__title {
    margin-bottom: 70px;
  }
  .swiper {
   margin-bottom: 35px;
  }
  .swiper__img {
    width: 75%;
  }
 
  .swiper-button-next {
    &:hover {
      background-color: #000;
      &::after {
        @include background(url("@img/icons/arrow-white.svg"));
      }
    }
  }
  .swiper-button-prev {
    background-color: #000;
    &:hover {
      background-color: #faed19;
      &::after {
        @include background(url("@img/icons/arrow.svg"));
      }
    }
    &::after {
      @include background(url("@img/icons/arrow-white.svg"));
    }
  }
}
