.kids {
  padding: 100px 1px 130px;
&__box{
  z-index: 12;
}
  
  &__circle {
    
    width: 32%;
    margin: 34%;
    
    &::after{
      @include pseudo;
      padding-top: 100%;
    }
  }
  &__circle1 {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 83%;
    transform: translate(-50%, -50%);
    
    &::after{
      @include pseudo;
      padding-top: 100%;
    }
  }
  &__circle2 {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 63%;
    transform: translate(-50%, -50%);
    
    &::after{
      @include pseudo;
      padding-top: 100%;
    }
  }
  &__circle3 {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 45%;
    transform: translate(-50%, -50%);
    
    &::after{
      @include pseudo;
      padding-top: 100%;
    }
  }
  &__title {
    max-width: 300px;
    margin: 0 auto;
  }
 
 &__box-text{
  transform: translate(-50%, -50%);
 }
  &__item {
    &--1 {
      top: 17%;
      left: 9%;
    }
    &--2 {
      top: 12%;
      left: 35%;
    }
    &--3 {
      top: 13%;
      left: 68%;
    }
    &--4 {
      top: 61%;
    left: 81%;
    }
    &--5 {
      top: 75%;
      left: 45%;
    }
    &--6 {
      top: 74%;
      left: 15%;
    }
    &--7 {
      top: 57%;
      left: 25%;
    }
    &--8 {
      top: 47%;
      left: 2%;
    }
  }
  &__text {
    max-width: 230px;
  }
  &__box-img {
    &--girl {
      top: 32%;
      left: 54%;
      
    }
  }
}

