.promo {
  &__box {
    &::before {
      @include pseudo;
      position: absolute;
      background: url("@img/icons/lightning.svg") no-repeat center / auto 100%;
      @include wh(52%, 88%);
      top: 10%;
      left: -4%;
      z-index: -1;
    }
  }
 

  &__slide {
    padding-top: 90px;
    padding-bottom: 280px;
    
  }
  .swiper-control {
    
    @include media(max, 1380px) {
    }
  }
  .swiper__box-control{
    top: 11%;
  }
.swiper__box-img{
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
}
