.promo {
  background: url("../img/icons/lightning.svg") no-repeat -140px 90%/52% auto;
  &__slide {
    background: url("../img/strong-wet-woman-posing-during-jump.png") no-repeat
      40px center/52% auto;
    padding-top: 90px;
    padding-bottom: 280px;
  }
  
}
