.services {
  padding-top: 185px;
  padding-bottom: 185px;
  &__title {
    margin-bottom: 80px;
  }
  &__text {
    margin-top: 200px;
  }
  &__box-img {
    top: 0%;
    left: 20%;
    
  }
  &__box-text {
    top: 0%;
    left: 20%;
  }
}
