.social {
  gap: 100px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  &__item {
    transform: rotate(270deg);
    &--vk {
      background: url("@img/icons/vk.svg") no-repeat 0 center / auto;
    }
    &--insta {
      background: url("@img/icons/insta.svg") no-repeat 0 center/ auto;
    }
    &--whatsapp {
      background: url("../img/icons/whatsapp.svg") no-repeat 0 center / auto;
    }
  }
  &__link {
  }
}
