// Заголовки, общие БЄМ блоки и проче...

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;

}

.fs-45 {
  font-size: clamp(1.56rem, 2.38vw + 1.03rem, 2.81rem);//45px
  
}
.fs-64 {
  font-size: clamp(2.13rem, 3.57vw + 1.32rem, 4rem);//64px
 
}
.fs-70 {
  font-size:  clamp(1.88rem, 4.76vw + 0.8rem, 4.38rem); // 70px
 
}
.fs-83 {
  font-size: clamp(2.69rem, 4.76vw + 1.62rem, 5.19rem);
  
}
.ls-7 {
  letter-spacing: 0.78px;
}
.ls-9 {
  letter-spacing: 0.91px;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.lh-10 {
  line-height: 100%;
}
.lh-12 {
  line-height: 120%;
}
.lh-16 {
  line-height: 161%;
}

.skew-btn {
  transform: skew(-15deg);
  span {
    transform: skew(15deg);
  }
}
.btn--enter {
  transform: none;
  background: url("@img/icons/user.svg") no-repeat left center/ auto;
  @include media(min, lg) {
    background-position: 20px center;
  }
  span {
    transform: none;
  }
}
.counter {
  background: linear-gradient(190deg, #faed19, #faed1900);
  background-size: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  padding-right: 20px;
}
.link:hover,
.link.active{
  position: relative;
      &::after{
        content: "/";
        display: block;
        position: absolute;
        left: -6px;
        top: 50%;
        transform: translateY(-50%);
        color: #FAED19;
      }
      &::before{
        content: "/";
        display: block;
        position: absolute;
        right: -6px;
        top: 50%;
        transform: translateY(-50%);
        color: #FAED19;
      }
}

.btn:hover {
 

  
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}